<div class="container">
<h2>Cadastro de Alunos</h2>
<form (ngSubmit)="salvar()">
  <input
    type="text"
    placeholder="Nome"
    [(ngModel)]="nome"
    name="nome"
    required 
  >
  <input
  type="number"
  placeholder="1ª nota"
  [(ngModel)]="nota1"
  name="nota1"
  required
  >
  <input
  type="number"
  placeholder="2ª nota"
  [(ngModel)]="nota2"
  name="nota2"
  required
  >
  <button type="submit">
  {{ editandoIndex !== null ? 'Atualizar' : 'Cadastrar'}}
  </button>
</form>

<table border="1" *ngIf="alunos.length > 0">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Média</th>
      <th>Condição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos; let i = index">
      <td>{{ aluno.nome }}</td>
      <td>{{ aluno.media }}</td>
      <td>{{ aluno.condicao }}</td>
      <td>
        <button (click)="editar(i)">Alterar</button>
        <button (click)="excluir(i)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
</div>